<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
        <main class="container">
           <area>
       
 <div class="col-xs-12 col-sm-6 col-md-8">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.2081773469854!2d-79.67473008501943!3d44.40837371128842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882aa36cd564f6b7%3A0xc8d3c21ab5d76afb!2s32+Sylvia+St%2C+Barrie%2C+ON+L4M+5J4!5e0!3m2!1sen!2sca!4v1462133565922" width="950" height="510" frameborder="5" style="border:5" allowfullscreen"></iframe>
 </div>
    
 <section id="class">
 <div align="left" class="col-xs-6 col-md-4">
  <br>
  <br>
  <br>
<span class="fa fa-envelope"></span><a href="mailto:mpatel.y@gmail.com">mpatel.y@gmail.com</a><br>
</div>
</section>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
        </main>
        
        
<% include partials/bootstrap.ejs %>
<% include partials/footer.ejs %>