<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="container">
       
        <p>This a todos project using angularjs and passportjs. Angular is creating todos for user and this website is protected using passportjs 
            <br>
            All the information is saved in mongo database.
            <br>
            To create Todos PLEASE Register as user...
        </p>
    </main>
<% include partials/bootstrap.ejs %>
<% include partials/footer.ejs %>
    
